<% var last; %>

<!-- 遍历所有文章 -->
<% page.posts.each(function(post, i){ %>
  <% var year = post.date.year(); %>
  <% if (last != year){ %>
    <% if (last != null){ %>
      </div>
      </section>
    <% } %>

    <% last = year; %>
    <section class="post page archives">
      <h3 class="archive-year-wrap">
        <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year">
          <%= year %>
        </a>
      </h3>
      <div class="archives">
  <% } %>

  <!-- 归档文章项  开始-->
  <div class="archive">
    <a class="post-go" href="<%- config.root %><%- post.path %>">
      <div class="item">
        <span class="date">
          <%- moment(post.date || '' ).format('MM-DD')%>
        </span>
        <span class="slash">-</span>
        <span>
          <%- post.title || theme.default_post_title || "Untitled" %>
        </span>
      </div>
    </a>
  </div>
  <!-- 归档文章项  结束-->
  
<% }) %>


<% if (page.posts.length){ %>
  </div>
  </section>
<% } %>